<ns-action-bar title="Client List"></ns-action-bar>
<GridLayout tkExampleTitle tkToggleNavButton>
  <RadListView [items]="clients">
    <ng-template tkListItemTemplate let-client="item">
      <StackLayout orientation="vertical">
          <Label class="nameLabel" [text]="client.name"></Label>
          <Label class="descriptionLabel" [text]="client.phone"></Label>
          <Label class="descriptionLabel" [text]="client.email"></Label>
      </StackLayout>
    </ng-template>
  </RadListView>
</GridLayout>
  
